<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="gbk">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>主页</title>
  <script src="jquery.js"></script>

  <script>
    $(function () {
      console.log(localStorage.getItem('islogin'));
      if (localStorage.getItem('islogin') && localStorage.getItem('islogin') == true) {
        console.log("已经登录");
        $("#username").text(localStorage.getItem("username"));
      }
      else {
        alert("还未登录");
        $(location).attr("href", "login");
      }

      $("#username").text(localStorage.getItem('username'));
      $("#role").text(localStorage.getItem('role'));
      $("#logout").click(function () {
        localStorage.removeItem('username');
        localStorage.removeItem('role');
        localStorage.setItem('islogin', 0);
      })
    });
  </script>
</head>

<body>
  <div id="left" style="width:15%; height:500px; float:left;">
    <table align="left" width="85%" border="0" cellpadding="0" cellspacing="0">
      <left>
        <ul id="leftmenu"><br><br>考试系统<li><a href="index">主页</a></li>
          <li><a href="personal">修改密码</a></li>
          <li id="logout"><a href="login">退出</a></li>
        </ul>
      </left>
    </table>
  </div>
  <div>
    <ul>
      <li id="username"></li>
      <li id="role"></li>
    </ul>
  </div>
</body>

</html>