<html>

<head lang="zh-cn">
  <meta charset="gbk">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>监考主页</title>

  <style type="text/css">
    .main {
      width: 60%;
      margin-left: 20%;
      height: 100%;
      text-align:center
    }

    th {
      width: 300px;
    }

    td {
      text-align: center;
    }

    table {
      margin: auto;
    }
    
  </style>

  <script src="libs/jquery.js"></script>
  <script>
  </script>
</head>

<body>
  <div class ="main">
    <h1>学生列表</h1>
    <table border="1">
      <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>连接状态</th>
      </tr>
      <tr>
        <td>1952120</td>
        <td>张迪</td>
        <td id="1952120">已连接</td>
      </tr>
    </table>
  </div>
  <script src="webrtc/teacher.js"></script> 
</body>

</html>