<html>

<head lang="zh-cn">
  <meta charset="gbk">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>监考主页</title>

  <style type="text/css">
    .main {
      width: 60%;
      margin-left: 20%;
      height: 100%;
      text-align: center
    }

    th {
      width: 300px;
    }

    td {
      text-align: center;
    }

    table {
      margin: auto;
    }
  </style>

  <script src="libs/jquery.js"></script>
  <script>
    $(function () {
      console.log("老师主页面");

      $("#logout").click(function () {
        localStorage.clear();
        $.ajax({
          url: "http://localhost:3000/getLogout",
          type: "get",
        })
      })

      $.ajax({
        url: "http://localhost:3000/getAllStu",
        type: "get",
        contentType: 'application/json',
        success: function (data) {
          console.log(data);
          my_table = $('#student')
          for (let i = 0; i < data.length; ++i) {
            let my_tr = $("<tr></tr>");
            let my_td1 = $("<td>" + data[i].stu_no + "</td>");
            let my_td2 = $("<td>" + data[i].stu_name + "</td>");
            let my_td3 = $("<td style='color:red' id='v" + data[i].stu_no + "'>未连接</td>");
            let my_td4 = $("<td style='color:red' id='s" + data[i].stu_no + "'>未连接</td>");
            let my_td5 = $("<td><a href='invigilation?stu_no=" + data[i].stu_no + "'>查看详情</a></td>")
            my_td1.appendTo(my_tr);
            my_td2.appendTo(my_tr);
            my_td3.appendTo(my_tr);
            my_td4.appendTo(my_tr);
            my_td5.appendTo(my_tr);
            my_tr.appendTo(my_table);
          }
        }
      })
    })
  </script>
</head>
<a href=""></a>
<body>
  <div id="left" style="width:15%; height:500px; float:left;">
    <table align="left" width="85%" border="0" cellpadding="0" cellspacing="0">
      <left>
        <ul id="leftmenu"><br><br>考试系统<li><a href="index">主页</a></li>
          <li><a href="password">修改密码</a></li>
          <li id="logout"><a href="login">退出</a></li>
        </ul>
      </left>
    </table>
  </div>
  <div class="main">
    <h1>学生列表</h1>
    <table border="1" id="student">
      <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>视频状态</th>
        <th>录屏状态</th>
        <th>实时监控</th>
      </tr>
    </table>
  </div>
  <script src="webrtc/teacher.js" charset="utf-8"></script>
</body>

</html>