<html>
  <head>
    <title>WebRTC Client</title>
    <style>
      video {
        width: 300px;
        height: 300px;
      }
    </style>
  </head>
  <body>
    <button id="call1">call1</button>
    <button id="call2">call2</button>
    <button id="save">save</button>
    <button id="close">close</button>
    <video id="localVideo" autoplay></video>
    <video id="localScreen" autoplay></video>
    <video id="screen" autoplay></video>
    <script src="webrtc/client.js"></script>
  </body>
</html>